html, body{
  font-family: 'Cinzel', serif;
  background-color: #1d1d1d;
}

.chuva {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: #1d1d1d;
}
.chuva span {
    position: absolute;
    top: -60px;
    background: #00ff9f;
    filter: 
    drop-shadow(0 -4px 6px #00ff9f)
    drop-shadow(0 -8px 10px #00ff9f)
    drop-shadow(0 -12px 14px #00ff9f);
    border-radius: 4px;
    animation: queda linear infinite;
}

#login-container {
  width: 50%;
  height: 100%;
}

#login-card {
  background-color: #2c2c2c;
  color: #00ff9f;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#login-card input {
  background-color: #2c2c2c;
  color: #00ff9f;
  border: solid 2px #00ff9f;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

#login-card input::placeholder {
  background-color: #2c2c2c;
  color: #00ff9f;
  font-weight: 700;
}

#btn-cadastrar {
  background-color: #00ff9f;
  color: #1d1d1d;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
}

#cadastro-container {
  background-color: #2c2c2c;
  color: #00ff9f;
  width: 50%;
  height: 80%;
  border-radius: 30px;
  padding: 12px;
  position: relative;
  z-index: 1;
}

#form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-cadastro input {
  background-color: #2c2c2c;
  color: #00ff9f;
  border: solid 2px #00ff9f;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

#form-cadastro input::placeholder {
  background-color: #2c2c2c;
  color: #00ff9f;
  font-weight: 700;
}

#btn-form {
  background-color: #2c2c2c;
  color: #00ff9f;
  font-weight: 700;
  border: solid 2px #00ff9f;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

#btn-form:hover {
  background-color: #00ff9f;
  color: #1d1d1d;
  transition: .6s;
}

#cadastro-text {
  text-align: center;
  font-size: 1.5rem;
  color: #00ff9f;
  font-weight: 700;
}

#main-content {
  color: #00ff9f;
  font-weight: 700;
}

@keyframes queda {
    0%   { transform: translateY(0) scale(1); opacity: 1; }
    70%  { opacity: 0.8; }
    100% { transform: translateY(110vh) scale(1); opacity: 0; }
}